<div >
    <table class="table" *ngIf="itemsToDispaly.length > 0">
        <thead>
          <tr>
            <th scope="col">Item</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody *ngIf="!reload">
          <tr *ngFor="let item of itemsToDispaly">
            <th scope="row">{{item.item.itemName}}</th>
            <td>{{item.item.price}}</td>
            <td>{{item.amount}}</td>
          </tr>
         <tr>
            <th scope="row">Subtotal</th>
            <td>{{subtotal}}</td>
            <td></td>
         </tr>
        </tbody>
    </table>

</div>

<!-- <button (click)="printCart()">click</button> -->
