<h1>Admin</h1>

<div class="container">
<!-- start of show departments -->
<button class="btn btn-primary" (click)="toggleShowDepartments()">View Departments</button><br>

<!-- end of show departments -->

<br>
<button class="btn btn-primary" (click)="toggleSearchItems()">Search Items</button><br>
<br>

<button class="btn btn-primary" (click)="viewAllItems()">View All Items</button><br><br>

<!-- start of view transactions-->
<button class="btn btn-primary" (click)="ViewTransactions()">View Transactions</button><br><br>

</div>
